@media mq-mobile
  #mobile-nav
    position: absolute
    top: 0
    left: 0
    z-index: 0
    visibility: hidden
    opacity: 0
    pointer-events: none
    width: mobile-nav-width
    height: 100%
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/sidebackground/sidebackground.webp')
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    border-right: 1px solid #fff
    transition: opacity 0.2s ease-out, visibility 0s linear 0.2s

  .mobile-nav-on #mobile-nav
    visibility: visible
    opacity: 1
    pointer-events: auto
    transition-delay: 0s

@media mq-mobile
  .mobile-nav-link
    display: block
    color: color-grey
    text-decoration: none
    padding: 15px 20px
    font-weight: bold
    &:hover
      color: #fff

@media mq-mymobile
  #sidebar
    display: none
  .mobile-header
    display: block
